
.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: var(--cor-branca);
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    min-height: 700px;
    padding-top: 180px;
    padding-bottom: 180px;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.presentation__picture {
    height: 800px;
}

.presentation__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--cor-primaria);
    padding: 18px 72px 48px 72px;
    width: 800px;
    height: 800px;
}

.presentation__title {
    font-size: 36px;
    line-height: 44px;
}

@media (max-width: 767px) {
    .about-container {
        height: 100%;
        min-height: 700px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 325px;
        background-color: var(--cor-primaria);
        padding: 64px 36px 36px 36px;
    }
    .presentation__picture {
        width: 60%;
        height: auto;
    }
    .presentation__description {
        padding: 18px 36px 36px 36px;
        width: 325px;
        height: 100%;
    }
    .presentation__title {
        font-size: 1.3rem;
        line-height: 1.85rem;
    }
}

@media (min-width: 768px) and (max-width: 1224px) {
    .about-container {
        height: 100%;
        min-height: 700px;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 576px;
        background-color: var(--cor-primaria);
        padding: 84px 48px 48px 48px;
    }
    .presentation__picture {
        width: 80%;
        height: auto;
    }
    .presentation__description {
        padding: 36px;
        width: 100%;
        height: 100%;
    }
    .presentation__title {
        font-size: 1.425rem;
        line-height: 1.3rem;
    }
}

@media (min-width: 1225px) {
    .about {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background-color: var(--cor-branca);
    }
}