.cv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.cv-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1200px;
    gap: 42px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
    min-height: 700px;
    padding-top: 180px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    height: 100%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile__name {
    font-size: 48px;
    line-height: 49px;
    margin: 0;
}

.profile__position {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}

.curriculum {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60%;
    height: 100%;
    min-height: 700px;
    padding-top: 140px;
    padding-bottom: 180px;
    gap: 80px;
}

.summary-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 28px 20px;
}

.btn {
    width: 295px;
    padding: 18px 10px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    border-radius: 4px;
}

.background-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    padding: 8px 20px;
}

.backgrounds {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}

.background__title {
    font-size: 24px;
    line-height: 24px;
}

.backgrounds-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.background__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0px;
    width: 100%;
}

.background__date {
    font-size: 18px;
    line-height: 1.5;
    color: var(--cor-data);
    text-align: justify;
    text-transform: uppercase;
    margin: 0;
    width: 40%;
}

.background__info {
    width: 60%;
    text-align: justify;
    margin: 0;
    padding: 0 8px;
    font-weight: 400;
}

.background__experiences {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0 8px;
    width: 60%;
}

.background__activities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}