.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.introduction-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 679px;
    min-height: 500px;
    padding-top: 60px;
}

.estudos-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 679px;
    min-height: 500px;
    padding-top: 60px;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
}

.main-content__title {
    font-family:var(--fonte-primaria);
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 1.25;
}

.main-content__text {
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
}

.section__title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 1200px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.section__title {
    font-size: 56px;
    font-weight: 600;
    border-bottom: 4px solid var(--cor-terciaria);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 48px 16px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    height: 268px;
    gap: 48px;
    margin: auto;
}

.card__gif {
    width: 35%;
    height: auto;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.card__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
}

.item-divider {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-data);
    height: 1px;
    width: calc(100% - 24px);
    margin-left: 11px;
    position: relative;
}

.item-left {
    left: -12px;
}

.item-right {
    right: -12px;
}

.item-right, .item-left {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid var(--cor-data);
    transform: rotate(45deg);
    top: -4.5px;
}

.figma--size {
    width: 34px;
}

.git--size {
    width: 43px;
}

@media (max-width: 767px) {
    .estudos-section {
        height: 850px;
        min-height: 784px;
        padding-top: 60px;
    }
    .section-container {
        max-width: 360px;
    }
    .main-content__title {
        font-size: 1.5rem;
        line-height: 1.3;
        font-weight: 600;
    }
    .main-content__text {
        font-size: 1.25rem;
        line-height: 1.3;
    }
    .section__title-container {
        width: 360px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .section__title {
        font-size: 1.4rem;
        border-bottom: 2.88px solid var(--cor-terciaria);
    }
    .card {
        padding: 24px 8px;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        height: 268px;
    }
    .card__gif {
        width: 100%;
        height: auto;
    }
    .card__title {
        font-size: 1rem;
    }
    .item-divider {
        height: 0.8px;
        width: calc(100% - 18.8px);
        position: relative;
        margin-left: 7.4px;
    }
    .item-right, .item-left {
        width: 6.4px;
        height: 6.4px;
        top: -3.06px;
    }
    .item-left {
        left: -7.7px;
    }
    .item-right {
        right: -7.7px;
    }
    .figma--size {
        width: 24px;
    }
    .git--size {
        width: 28.8px;
    }    
}    

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {
    
}