
.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: var(--cor-branca);
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
    height: 100%;
    min-height: 700px;
    padding-top: 180px;
    padding-bottom: 180px;
}

.apresentacao__about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentação__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--cor-primaria);
    padding: 18px 72px 48px 72px;
    width: 800px;
    height: 800px;
}

.apresentacao__about__titulo {
    font-family:var(--fonte-primaria);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

.apresentacao__about__texto {
    font-family:var(--fonte-primaria);
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 12px;
    margin: 0;
    text-align: justify;
}

.apresentacao__perfil {
    height: 800px;
}

.cv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.cv-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 42px;
}

.resumo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
    min-height: 700px;
    padding-top: 180px;
}

.cv__resumo__apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 16px 20px;
    width: 480px;
    height: 100%;
}

.cv__apresentacao {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cv__apresentacao__nome {
    font-size: 48px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: -2%;
    margin: 0;
}

.cv__apresentacao__cargo {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -2%;
    margin: 0;
}

.curriculo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60%;
    height: 100%;
    min-height: 700px;
    padding-top: 140px;
    padding-bottom: 180px;
    gap: 80px;
}

.cv__resumo__texto-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 28px 20px;
    width: 68%;
}

.cv__resumo__texto {
    font-size: 22px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: justify;
    padding: 8px 0 8px 0px;
}

.cv__resumo__botao {
    width: 295px;
    padding: 18px 10px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    border-radius: 4px;
}

.cv__curriculo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px;
    padding: 8px 20px;
    width: 68%;
}

.cv__formacao-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 20px;
    width: 679px;
}

.cv__formacao__titulo {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}

.cv__formacao__itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    gap: 24px;
}

.cv__formacao__item {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0%;
    text-align: justify;
}

.experiencia-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}

.cv__experiencia-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 56px;
}

.cv__experiencia-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 0px;
    width: 100%;
}

.cv__experiencia__data {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0%;
    color: var(--cor-data);
    text-align: justify;
    text-transform: uppercase;
    margin: 0;
    width: 40%;
}

.cv__experiencia__curso {
    width: 60%;
    text-align: justify;
    margin: 0;
    padding: 0 8px;
}

.cv__experiencias {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 0 8px;
    width: 60%;
}

.cv__experiencia__cargo {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0%;
    text-align: justify;
    margin: 0;
}

.cv__experiencia__atividades-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.estudos-site-pessoal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .header__logo {
        font-size: 20px;
    }

    .nav {
        display: block;
    }
}

@media (min-width:1400px) {
    .header {
        padding: 24px;
    }

    .header__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__cv {
        padding: 5%;
    }

    .apresentacao__resumo {
        flex-direction: column-reverse;
    }
}