@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-primaria: #fdf5f5;
    --cor-secundaria: #332E54;
    --cor-terciaria: #ff7098;
    --cor-branca: #FAFAFA;

    --fonte-primaria: 'Open Sans', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: var(--cor-primaria);
}

.cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
    max-width: 1200px;
    width: 100%;
}

.cabecalho__logo-container {
    font-family: var(--fonte-secundaria);
    font-size: 14px;
}

.cabecalho__logo-link {
    text-decoration: none;
}

.cabecalho__logo {
    font-weight: 600;
    line-height: 27px;
}

.cabecalho__logo-sayuri {
    color: var(--cor-terciaria);
}

.cabecalho__logo-dev {
    color: var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.cabecalho__menu__item-container:first-child {
    margin-left: 0;
}

.cabecalho__menu__item-container {
    display: flex;
    margin: 0 30px;
    text-decoration: none;
}

.cabecalho__menu__item {
    border-bottom: 2px solid transparent;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 14px;
    font-weight: 600;
    padding: 2px 0;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.cabecalho__menu__item:hover {
    border-bottom-color: var(--cor-terciaria);
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    padding-top: 60px;
    height: 719px;
    min-height: 500px;
}

.apresentacao-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
}

.apresentacao__conteudo__titulo {
    font-family:var(--fonte-primaria);
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 49px;
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
    font-weight: 600;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -2%;
    line-height: 58px;
    color: var(--cor-secundaria);
}

.texto-destaque {
    font-weight: 600;
}

.apresentacao__contato-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.apresentacao__contato img {
    width: 40px;
}

.apresentacao__cv{
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__resumo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__cv_conteudo {
    display: flex;
    flex-direction: column;
    gap: 60px;
    line-height: 1.5;
}

.apresentacao__conteudo__subtitulo {
    font-size: 2.13rem;
    font-weight: 700;
    font-family:var(--fonte-primaria);
}

.apresentacao__conteudo__empresa {
    font-size: 1.5rem;
    font-family:var(--fonte-secundaria);
}

.apresentacao__conteudo__lista {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    list-style-position: inside;
}

.apresentacao__sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 1% 0 0 0;
}

.apresentacao__perfil {
    width: 60%;
}

.site-pessoal {
    display: flex;
    background-color: var(--cor-branca);
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--fonte-primaria);
    height: 719px;
    min-height: 500px;
}

.site-pessoal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 24px;
}

.site-pessoal__imagem-principal {
    width: calc(20%);
    height: auto;
}

.site-pessoal__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 614px;
    height: 268px;
}

.site-pessoal__titulo {
    font-family: var(--fonte-primaria);
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    color: var(--cor-secundaria);
    margin: 0;
}

.site-pessoal__texto {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    color: var(--cor-secundaria);
    margin: 0;
}

.site-pessoal__icones {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.site-pessoal__icones-img {
    width: 40px;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    color: var(--cor-secundaria);
    text-align: center;
    background-color: var(--cor-branca);
}

.rodape-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.rodape-email {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.rodape-autor {
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

@media (min-width: 992px) {
    .cabecalho__logo {
        font-size: 20px;
    }

    .cabecalho__nav {
        display: block;
    }
}

@media (min-width:1400px) {
    .cabecalho {
        padding: 24px;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__cv {
        padding: 5%;
    }

    .apresentacao__resumo {
        flex-direction: column-reverse;
    }
}