@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-primaria: #fdf5f5;
    --cor-secundaria: #332E54;
    --cor-terciaria: #ff7098;

    --fonte-primaria: 'Inter', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: var(--cor-primaria);
}

.cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
    max-width: 1200px;
    width: 100%;
}

.cabecalho__logo-container {
    font-family: var(--fonte-secundaria);
    font-size: 14px;
}

.cabecalho__logo-link {
    text-decoration: none;
}

.cabecalho__logo {
    font-weight: 600;
    line-height: 27px;
}

.cabecalho__logo-sayuri {
    color: var(--cor-terciaria);
}

.cabecalho__logo-dev {
    color: var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.cabecalho__menu__item-container:first-child {
    margin-left: 0;
}

.cabecalho__menu__item-container {
    display: flex;
    margin: 0 30px;
    text-decoration: none;
}

.cabecalho__menu__item {
    border-bottom: 2px solid transparent;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 14px;
    font-weight: 600;
    padding: 2px 0;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.cabecalho__menu__item:hover {
    border-bottom-color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 170%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    line-height: 1.5;
    /* padding-right: 10%; */
}

.apresentacao__cv{
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__resumo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.38rem;
    font-weight: 400;
    font-family:var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__cv_conteudo {
    display: flex;
    flex-direction: column;
    gap: 60px;
    line-height: 1.5;
}

.apresentacao__conteudo__subtitulo {
    font-size: 2.13rem;
    font-weight: 700;
    font-family:var(--fonte-primaria);
}

.apresentacao__conteudo__empresa {
    font-size: 1.5rem;
    font-family:var(--fonte-secundaria);
}

.apresentacao__conteudo__lista {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    list-style-position: inside;
}

.apresentacao__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 1.75rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    /* transition: all .3s ease-in-out */
}

.apresentacao__links__navegacao img {
    width: 32px;
}

.apresentacao__sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 1% 0 0 0;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
}

.apresentacao__perfil {
    width: 60%;
}
    

.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 400;
}

@media (min-width: 992px) {
    .cabecalho__logo {
        font-size: 20px;
    }

    .cabecalho__nav {
        display: block;
    }
}

@media (max-width:1400px) {
    .cabecalho {
        padding: 24px;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__cv {
        padding: 5%;
    }

    .apresentacao__resumo {
        flex-direction: column-reverse;
    }
}